<div class="wrapper m-0 p-0">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-bg p-2">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/template-one/AIG_r_w.png" alt="Logo" width="100" class="d-inline-block align-text-top mx-3">
                </a>
            </div>
        </nav>
    </header>

    <main class="">

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators d-none">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" style="background-image: url('assets/template-one/background-1.jpg');">
                    <div class="overlay">
                        <div class="container">
                            <div class="carousel-caption d-flex align-items-center justify-content-center">
                                <h1 class="fw-bold display-3 display-md-4 display-lg-5">Global Support at Your Fingertips</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add more items as needed -->
            </div>
            <button class="carousel-control-prev d-none" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next d-none" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        

        <div class="container-fluid marketing">
            <div class="row">
                <div class="col-lg-12 text-center mb-3">
                    <p class="text-header-color fs-3 fw-bold">Welcome to the Global Service Desk Chat Support</p>
                    <p>Please select the appropriate Service Desk below to start your chat.</p>
                    <p>For verification, we will ask your Employee ID and Okta Verify Code, so please have them ready.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="shadow-hover p-1">
                        <div class="d-flex align-items-center justify-content-center chat-item-bg ">
                            <img src="assets/template-one/AIG_icon_chat_rgb_white-01.png" alt="" width="90" class="img-fluid">
                            <span class="fs-5 fw-bold text-light text-center w-100 text-break">English</span>
                        </div>
                        <div class="chat-item-details-bg p-3 text-center">
                            <p class="fw-bold">English support is available 24/7</p>
                            <p><span class=""></span>US toll free number: <br> 1-800-435-7457</p>
                            <p><span class=""></span>Euro toll free number: <br> 00 800 5656 5555</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="shadow-hover p-1">
                        <div class="d-flex align-items-center justify-content-center chat-item-bg">
                            <img src="assets/template-one/AIG_icon_chat_rgb_white-01.png" alt="" width="90" class="img-fluid">
                            <span class="fs-5 fw-bold text-light text-center w-100 text-break">Chinese</span>
                        </div>
                        <div class="chat-item-details-bg p-3 text-center">
                            <p class="fw-bold">China</p>
                            <p><span class=""></span>8:00am - 8:00pm GMT+8</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="shadow-hover p-1">
                        <div class="d-flex align-items-center justify-content-center chat-item-bg">
                            <img src="assets/template-one/AIG_icon_chat_rgb_white-01.png" alt="" width="90" class="img-fluid">
                            <span class="fs-5 fw-bold text-light text-center w-100 text-break">Japanese</span>
                        </div>
                        <div class="chat-item-details-bg p-3 text-center">
                            <p class="fw-bold">Japanese</p>
                            <p><span class=""></span>8:00am - 8:00pm GMT+9</p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="shadow-hover p-1">
                        <div class="d-flex align-items-center justify-content-center chat-item-bg">
                            <img src="assets/template-one/AIG_icon_chat_rgb_white-01.png" alt="" width="90" class="img-fluid me-2">
                            <span class="fs-5 text-wrap fw-bold text-light text-center w-100 text-break">Portuguese</span>
                        </div>
                        
                        <div class="chat-item-details-bg p-3 text-center">
                            <p class="fw-bold">Brazil</p>
                            <p><span class=""></span>7:00am - 7:00pm UTC-3</p>
                        </div>
                    </div> 
                </div>

                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 mb-3">
                    <div class="shadow-hover p-1">
                        <div class="d-flex align-items-center justify-content-center chat-item-bg">
                            <img src="assets/template-one/AIG_icon_chat_rgb_white-01.png" alt="" width="90" class="img-fluid">
                            <span class="fs-5 fw-bold text-light text-center w-100 text-break">Spanish</span>
                        </div>
                        <div class="chat-item-details-bg p-3 text-center fs-sm-1">
                            <p><span class="fw-bold">Mexico:</span> <br> 7:00am - 7:00pm UTC-6</p>
                            <p><span class="fw-bold">Ecuador:</span> <br> 8:00am - 8:00pm UTC-5</p>
                            <p><span class="fw-bold">Puerto Rico, Venezuela:</span> <br> 9:00am - 9:00pm UTC-4</p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>


        <!-- FOOTER -->
        <footer class="container-fluid footer-bg text-light p-3 mt-3 text-center">
            <p class="">
                <span class="fw-bold">ADVISORY: </span>
                AWS Ongoing issue. 
                If you are experiencing unable to launch, upload attachments, and/or no dropdown option, 
                or loading AWD page, rest assured that our technical team is actively working on resolving this issue as quickly as they can.
            
                <span class="fw-bold">ADVISORY: </span>
                AWS Ongoing issue. 
                If you are experiencing unable to launch, upload attachments, and/or no dropdown option, 
                or loading AWD page, rest assured that our technical team is actively working on resolving this issue as quickly as they can.
            </p>
        </footer>
    </main>

</div>